.Hobbies
{
    display: flex;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    flex-direction: column;
  
    
}

.hobby
{
display: flex;
flex-direction: row;
align-items:center;
justify-content: space-around;
color: black;

}


.Natation
{
color: rgb(0, 174, 255);
font-family: 'Bebas Neue', cursive,"Bold";
font-size: 30px;
}

.Gaming
{
    color: rgb(233, 162, 32);
   
font-family: 'Bebas Neue', cursive,"Bold";
font-size: 30px;

}



.contain
{
    border: 10px;
    height: 40%;
    width: 25%;
    color: rgb(147, 102, 189);
    border-radius: 20px;
    border-style: solid;
}