.navstyle
{
    background-color: aqua;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
 

}
.MaherShine
{
    grid-column: 2 / 3;
    
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .middle
  {
      width: 33%;
      height: 12rem;
      display: grid;
  }